<section class="page-from">
     <mat-card  [ngStyle]="{'text-align':'center'}">
          <mat-card-title>Reactive Form</mat-card-title>
          <form class=""  [formGroup]="loginForm" (submit)="saveValue()">
               <mat-form-field appearance="outline">
                    <mat-label>Enter Your First Name</mat-label>
                    <input autocomplete="off" formControlName="firstname" matInput type="text" name="firstname" placeholder="Ex. Gayathri">
               </mat-form-field>
               <mat-form-field appearance="outline">
                    <mat-label>Enter Your Last Name</mat-label>
                    <input autocomplete="off" matInput type="text" formControlName="lastname" name="lastname" placeholder="Ex. Ravi">
               </mat-form-field>
               <mat-form-field appearance="outline">
                    <mat-label>Enter Your Email ID</mat-label>
                    <input type="email" matInput formControlName="email"placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="loginForm.get('email')?.errors ">Please enter valid email id</mat-error>
               </mat-form-field>
               <mat-form-field appearance="outline">
                    <mat-label>Enter Your Mobile no</mat-label>
                    <input autocomplete="off" formControlName="mobile" matInput  name="mobile" placeholder="Enter your number" >
                    <mat-error *ngIf="mobile?.hasError('pattern')">Please enter valid 10 digit mobile no</mat-error>
               </mat-form-field>
               <br>
               <button  type="button"class="m-10" mat-raised-button (click)="reset()" color="accent">Reset</button>
               <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Submit</button>
           </form>
     </mat-card>
</section>